*{
    color:rgb(9, 78, 85);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.display{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20vw;
    background-color: rgb(235, 242, 245);
    font-size:8vw;
    margin:60px auto 40px auto;
    border-radius:50px;
    width:70vw;
}
div.calc{
    margin:0vw 12vw;
    padding:5px;
    background-color: rgb(235, 242, 245);
    border-radius:40px;
}
div.numbers, div.operands, div.options{
    margin:auto;
    width:70vw;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    height:10vw;
}
div.options{
    padding:2vw;
}
div.numbers{
    margin:auto;
    width:70vw;
    height:50vw;
}
button.number{
    font-size:10vw;
    padding:5.5vw;
    margin: 0vw 5vw 0vw 5vw;
    width:20px;
    height:20px;
    border-radius: 50%;
}
button.operand{
    border-radius: 50%;
    width:10vw;
    height:10vw;
}
button.operand, button.enter, button.clear, button.delete{
    font-size:6.5vw;
}

button:hover{
    cursor:pointer;
    background-color: rgb(223, 238, 238);
    color:rgb(9, 78, 85);
}
button{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    color:azure;
    border-radius:40px;
    border:none;
    background-color: rgb(23, 136, 136);
    margin:auto;
    height:100%;
    width:30%;
}